body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center; 
}

.RenderedApp {
  text-align: center;
  height: 200vh;
}

.App-header {
  background-color: #1E555C;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

[type="file"]{
  border: 1px solid #cccccc;
  background: #EEE5E9;
  color: #000000;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 2px;
}
[type="submit"]{
  cursor: pointer;
  font-size: 16px;
  background: #EEE5E9;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

svg {
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 50px 150px;
  text-align: center;
  box-sizing: border-box;
}


text {
  text-shadow:
  -1px -1px 3px white,
  -1px 1px 3px white,
  1px -1px 3px white,
  1px 1px 3px white;
}

.bar-container {
  display: inline-block;
}